body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #222;
  }
  
  /* header
  ------------------------------ */
  #header {
    width: 100%;
    background-color: #99CC00;
  }
  #header .wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
  
  #header p {
    float: left;
    margin: 22px 0 0;
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  #header ul {
    float: right;
    margin: 28px 0;
    font-size: 0.9rem;
    font-weight: 500;
  }
  #header ul li {
    float: left;
    margin-right: 40px;
  }
  #header ul li:last-child {
    margin-right: 0;
  }
  .link:hover{
    text-decoration:underline;
          }
          .content{
              background-color: white;
              width: 90%;
              height:90px;
              border: thin solid gray;
              margin:0 auto;
              margin-top:10px;
              position: relative;
              border-radius:20px;
              padding: 10px;
          }
          .link{
              cursor: pointer;
              margin-bottom: 0;
              min-width:50px;
          }
          .good{
              cursor: pointer;
              margin-top: 0;
              min-width: 25px;
              position: absolute;
              right: 0;
              margin-right: 10px;
              border-radius: 10px;
              text-align: center;
              height: 30px;
          }
          .good:hover{
              background-color: #D3D3D3;
          }
          #waitd{
            text-align: center;
          }
          .rayer{
    display: flex;
    height: 50px;
    margin-top:10px;
          }
  .add{
    border:thin solid gray;
    margin-left: 5%;
    width:90px;
    text-align: center;
    height:50px;
    cursor: pointer;
  }
  .drive{
    width: 90px;
    border: thin solid gray;
    margin-left: 2%;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
  }
  span.loading {
      display: inline-block;
      white-space: nowrap;
  }
      span.loading span {
          display: inline-block;
          vertical-align: middle;
      }
      span.loading span:nth-of-type(1) {
          -webkit-animation: animation 2s ease 0s infinite;
          animation: animation 2s ease 0s infinite;
      }
      span.loading span:nth-of-type(2) {
          -webkit-animation: animation 2s ease 0.1s infinite;
          animation: animation 2s ease 0.1s infinite;
      }
      span.loading span:nth-of-type(3) {
          -webkit-animation: animation 2s ease 0.2s infinite;
          animation: animation 2s ease 0.2s infinite;
      }
      span.loading span:nth-of-type(4) {
          -webkit-animation: animation 2s ease 0.3s infinite;
          animation: animation 2s ease 0.3s infinite;
      }
      span.loading span:nth-of-type(5) {
          -webkit-animation: animation 2s ease 0.4s infinite;
          animation: animation 2s ease 0.4s infinite;
      }
      span.loading span:nth-of-type(6) {
          -webkit-animation: animation 2s ease 0.5s infinite;
          animation: animation 2s ease 0.5s infinite;
      }
      span.loading span:nth-of-type(7) {
          -webkit-animation: animation 2s ease 0.6s infinite;
          animation: animation 2s ease 0.6s infinite;
      }
  
  @-webkit-keyframes animation {
      0% {
          margin-top: 0;
      }
      5% {
          margin-top: -1em;
      }
      10% {
          margin-top: 0;
      }
      13% {
          margin-top: -0.5em;
      }
      16% {
          margin-top: 0;
      }
      18% {
          margin-top: -0.2em;
      }
      20% {
          margin-top: 0;
      }
  }
  
  @keyframes animation {
      0% {
          margin-top: 0;
      }
      5% {
          margin-top: -1em;
      }
      10% {
          margin-top: 0;
      }
      13% {
          margin-top: -0.5em;
      }
      16% {
          margin-top: 0;
      }
      18% {
          margin-top: -0.2em;
      }
      20% {
          margin-top: 0;
      }
  }
  .contributor{
    margin-left: 20px;
  }