/* === 実行中非表示（初期） ================================ */
.runNoDisp {
  display : none;
}

/* === 実行中バックグランド ================================ */
.runBg {
  position   : fixed;
  overflow   : hidden;
  top        : 0;
  right      : 0;
  bottom     : 0;
  left       : 0;
  background : rgba(255, 255, 255, 0.90);
  z-index    : 10;
}

/* === 実行中ウインド ====================================== */
.runBg .runWindow {
                               /* 実行中ウインドを中心に表示 */
  position      : absolute;
  top           : 50%;
  left          : 50%;
  transform     : translate(-50%, -50%);
  z-index       : 11;
             /* ↓実行中ウインドウの見た目：変更してください */
  width         : 300px;
  background    : #fff;
  border        : 3px solid #999;
  border-radius : 10px;
  font-size     : 12pt;
  line-height   : 1.2;
  text-align    : center;
}

/* === 実行中バーのエリア ================================== */
.runBg .runWindow .bar {
  width         : 80%;
  margin        : 10px auto;
  overflow      : hidden;
  border        : 1px solid rgba(102, 255, 102, 0.90);
}

/* === 実行中ウインド：アニメーション ====================== */
.runBg .runWindow .bar::before {
  display       : block;
  content       : "";
  height        : 20px;
  color         : #fff;
  background    : linear-gradient(90deg, #ffffff, rgba(102, 255, 102, 0.90));
  animation     : runOpenAnime 2s linear infinite;
}
@keyframes runOpenAnime {
   0% { transform  :translateX(-100%) }
 100% { transform  :translateX(100%)  }
}
